main {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}

body {
  font-family: var(--font-roboto), sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #f8f9fa;
}
